@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&family=Ubuntu:ital,wght@0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&family=Ubuntu:wght@300;400;500&display=swap');
:root {
    --color-light-blue: #6fb4f0;
    --color-light-purple: #9b7cd6;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    text-decoration: none;

}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    
}
.navbar{
    background: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    padding:15px 0 ;
    height: 70px;
    cursor: pointer;
    top: 0;
    z-index: 1000;
}
.navbar .menu {
    display: flex;
    flex-direction: space-between;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
}
.navbar .menu li a:hover{
    background:transparent;
    color: #6fb4f0;;
}


/* MENU HAMBUGUESA */
.navbar .menu-mobile {
    display: none; /* Oculto por defecto */
    flex-direction: column;
    width: 100%;
    background-color: crimson;
    position: absolute;
    top: 60px; /* Ajusta según la altura de tu navbar */
    left: 0;
    padding: 20px 0;
}

.navbar .menu-mobile li {
    text-align: center;
    margin: 10px 0;
}
.navbar .menu-mobile.active {
    display: flex; /* Muestra el menú cuando se activa */
}
.navbar .hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color:white
}

.navbar .max-widthh{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.max-widthh{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.header-text h1{
    background-color: black;
}
@media (max-width: 480px) {
    .img-proyectos img {
        width: 100%;
        height: auto;
    }
    .menu-mobile li a {
        font-size: 16px;
    }
}
/* 
!!!!!!!  CLAVE PARA HACER SECCIONES QUE OCUPEN TODA LA PANTALLA, Y UNA VEZ QUE BAJO SE CAMBIA A LA OTRA SECCION.  SOBRETODO AGREGAR EL HEIGHT !!!!!!   */
.home {
    background-color: #1b1c1d;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    
      }

.max-width {
    max-width: 1200px;
    flex: 1;
    margin: auto 3rem;
}

.imagen-content .img {
    width:350px;
    margin-right: 9rem;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    animation: floatImage 4s ease-in-out infinite;
    flex: 1;

}


.text-1, .text-2, .text-3 {
    margin-bottom: 1rem; /* Espaciado debajo de cada título */
}
.text-1 {
    font-size: 35px;
}

.text-2 {
    font-size: 80px;
        font-weight: 600;
}

.text-3 {
    font-size: 50px;
   
}

.text-3 span {
    background: linear-gradient(-45deg, var(--color-light-blue), var(--color-light-purple), var(--color-light-blue), var(--color-light-purple));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.icons .icon {
    color: aliceblue;
    font-size: 1.5rem;
    margin: 1rem 1rem 0 0;
    transition: 0.5s ease;
    padding: 6px;
    display: inline-flex;
    background: transparent;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    align-items: center;
    border-radius: 50%;
    border: .2rem solid rgb(255, 255, 255);
}
.icons .icon:hover {
    background:rgb(240, 240, 240);
    box-shadow: 0 0 1rem var;
    color: rgb(35, 35, 136);
}
.button {
    margin-top: 20px;
    padding: 1rem 2.8rem;
    background-color: red;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 4rem;
    transition: background-color 0.3s ease;
    display:inline-block;
    margin-bottom: 1rem}

.button:hover {
    background:rgb(240, 240, 240);
    box-shadow: 0 0 1rem var;
    color: rgb(35, 35, 136);}


@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }}

.flecha {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        color: #fff;
        animation: bounce 1.5s infinite; /* Animación de la flecha */
        text-decoration: none;
    }
    .flecha:hover {
        color: #6fb4f0; /* Cambio de color al pasar el mouse */
    }
    
@media (max-width: 768px) {
        .navbar .menu {
            display: none; /* Ocultar el menú en pantallas pequeñas */
        }
    
        .navbar .hamburger {
            display: block; /* Mostrar el icono de hamburguesa */
        }
    
     
    
        .home {
            flex-direction: column;
            text-align: center;
            padding: 2rem 2%;
        }
        .text-1 {
            margin-top: 10rem; /* Espaciado debajo de cada título */
        }
    }
    
    /* Media query para móviles */
@media (max-width: 480px) {
        .navbar .logo a {
            font-size: 25px;
        }
    
        .home {
            width: 100%;
            flex-direction: column;
            align-items: center;
            text-align: center;
            
        }
        .text-1 {
            margin-top: 5rem; /* Espaciado debajo de cada título */
        }
        .text-2{
            font-size: 45px;
        }
        .text-3{
            font-size: 30px;
        }
        .imagen-content .img{
            width:200px;
            height:200px;
            margin-right: 0;
            margin-top: 1.1rem;;
            justify-content: center;
            align-items: center;
        }
        .button{
            font-size: 1rem;
        }
    }

/* 



!!!!!!!  CLAVE PARA HACER SECCIONES QUE OCUPEN TODA LA PANTALLA, Y UNA VEZ QUE BAJO SE CAMBIA A LA OTRA SECCION.  SOBRETODO AGREGAR EL HEIGHT !!!!!!   */
.sobre-mi {
    font-family: 'Geist';
    padding: 0;
    display: flex; 
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    text-align: center; 
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    justify-content: center;
}
      
.contenedor-info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;

}

.h2-sobre-mi{
    font-size: 55px;
    font-family: 'Ubuntu', sans-serif;
   margin-bottom: 3rem;
   margin-top: 5rem;
    text-align: center;
    background: linear-gradient(-45deg, var(--color-light-blue), var(--color-light-purple), var(--color-light-blue), var(--color-light-purple));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.p-sobre-mi{
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 300;
    line-height: 1.8;
    text-align: left;
    }

.info{
    width: 77%;
}
.skills {
    color: rgba(253, 52, 2, 0.805);
    font-size: 2.5rem;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;

}
.skill-row {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaciado entre los iconos */
}

.skill-row i {
    font-size: 2.5rem; /* Tamaño de los íconos */
    color: rgba(253, 52, 2, 0.805);
    transition: 0.3s ease-in-out;
}
.skill-row i:hover {
    transform: scale(1.1); /* Efecto de aumento al pasar el ratón */
}
.contactame{

    margin:5rem 0 1.5rem 0;
    font-weight: 500;
    justify-content: center;
}
.mail{
    font-size: 3rem;
}


/* Media query para móviles */
@media (max-width: 480px) {
    .skills{
        font-size: 1rem;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
    }
    
    .sobre-mi {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: 2rem;
        text-align: center;
    }
    .p-sobre-mi {
        margin-top: 1rem; /* Espaciado debajo de cada título */
        font-size: 15px;
        width: 100%;
        align-items: center;

    }
    .contactame{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    
        
    }
    .mail{
        font-size: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 1rem;
    
    }
}

@media (max-width: 768px) {
    .sobre-mi {
        align-items: center;
         justify-content:center;
         display: flex;
         flex-direction: column;
         height: auto;
         text-align: center;
    }
    .p-sobre-mi {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 20px;
    }
    .skills{
        font-size: 2rem;
        align-items: center;
        justify-content:center;
         display: flex;

    }
    .skill-row{
        align-items: center;
        justify-content:center;
         display: flex;
        gap: 10px;
    }
    .info{
        align-items: center;
        justify-content: center;
    }
 
    .contactame{
    font-size: 1rem;
    margin-top:2rem ;
    margin-bottom: 3rem; 
    }
    .mail{
        font-size: 2.5rem;
    }
}


@media (max-width:900px)  { 
    .contenedor-info {
        flex-direction: column;
        align-items: center;
    }
    .skills {
        width: 100%;
        justify-content: center;
    }
    .p-sobre-mi {
        width: 100%;
        margin-top: 1rem;
        text-align: center;
        
    }
    .contactame {
        font-size: 1.2rem;
        margin: 3rem 0 1rem 0;
    }
    .mail {
        font-size: 2rem;
    }
}
    @media (max-width:1134){
        .sobre-mi {
            align-items: center;
            flex-direction: column; /* Asegura que los elementos se apilen verticalmente */

        }
        .skills {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            width: 100%;
        
        }
        .p-sobre-mi{
            display: flex;
            align-items: center;
            text-align: left;
            width: 100%;
        }
    }


    /* PROYECTOS*/
.proyectos {
    flex-direction: column;
    padding: 0 6rem;
    font-family: 'Geist';
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    

}

.proyectos .titulo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 55px;
    margin-bottom: 3rem;
    margin-top: 2rem;
     align-items: center;
     background: linear-gradient(-45deg, var(--color-light-blue), var(--color-light-purple), var(--color-light-blue), var(--color-light-purple));
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-size: 400% 400%;
     animation: gradient 3s ease infinite;
 }
 
 @keyframes gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }

.div-proyectos {
    display: flex;
    text-align: center;
    align-items: center;
    overflow: hidden; /* Asegura que las imágenes no sobresalgan */
    padding: 2rem;
    border-radius: 16px;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 800px; /* Máximo ancho de los proyectos */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.div-proyectos .descripcion {
    text-align: left; /* Alineación del texto a la izquierda */
    color: #fff;
    font-size: 1rem;
    flex: 1; /* Ocupa todo el espacio restante */
}

.div-proyectos:hover {
    transform: scale(1.05); /* Pequeño efecto al pasar el mouse */
}

.div-proyectos img {
    width: 350px; /* Tamaño fijo para las imágenes */
    height: 350px;
    object-fit: cover; /* Evita que las imágenes se corten */
    border-radius: 16px;
    flex-shrink: 0; /* Evita que las imágenes se reduzcan más allá del tamaño definido */
    transition: all 0.3s ease;
    

}
.div-proyectos:hover img{
    transform: scale(1.1);
    cursor: pointer;
}

.h2-proyectos{
    font-size: 1.5rem;
    margin: 0 0 0 2rem;
    color: #000000;
    font-weight: 250;
}
.p-proyectos{
    color: #6fb4f0;
    font-size: 1rem;
    margin: 0 0 0 2rem;
    padding: 6px;
    letter-spacing: 0.1rem;
}

@media (max-width: 770px) {
    .div-proyectos {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center;
        text-align: center;
    }

    .div-proyectos img {
        margin-bottom: 1rem; /* Espacio entre la imagen y el texto */
    }

    .div-proyectos .descripcion {
        text-align: center; /* Centra el texto en pantallas pequeñas */
    }
}