@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&family=Ubuntu:ital,wght@0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&family=Ubuntu:wght@300;400;500&display=swap');
:root {
    --color-light-blue: #6fb4f0;
    --color-light-purple: #9b7cd6;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    text-decoration: none;

}


.navbar{
    background: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    padding:15px 0 ;
    height: 70px;
    cursor: pointer;
    top: 0;
    z-index: 1000;
}
.navbar .menu {
    display: flex;
    flex-direction: space-between;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
}
.navbar .menu li a:hover{
    background:transparent;
    color: #6fb4f0;;
}


/* MENU HAMBUGUESA */
.navbar .menu-mobile {
    display: none; /* Oculto por defecto */
    flex-direction: column;
    width: 100%;
    background-color: crimson;
    position: absolute;
    top: 60px; /* Ajusta según la altura de tu navbar */
    left: 0;
    padding: 20px 0;
}

.navbar .menu-mobile li {
    text-align: center;
    margin: 10px 0;
}
.navbar .menu-mobile.active {
    display: flex; /* Muestra el menú cuando se activa */
}
.navbar .hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color:white
}

.navbar .max-widthh{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.max-widthh{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.header-text h1{
    background-color: black;
}
@media (max-width: 480px) {
    .img-proyectos img {
        width: 100%;
        height: auto;
    }
    .menu-mobile li a {
        font-size: 16px;
    }
}
/* 
!!!!!!!  CLAVE PARA HACER SECCIONES QUE OCUPEN TODA LA PANTALLA, Y UNA VEZ QUE BAJO SE CAMBIA A LA OTRA SECCION.  SOBRETODO AGREGAR EL HEIGHT !!!!!!   */
.home {
    background-color: #1b1c1d;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display:flex;
    justify-content: space-between;
    align-items: center;
   height: 850px;
   padding: 80px;
    
      }

.max-width {
    width: 100%;
    flex: 1;
    }

.imagen-content .img {
    width:350px;
    margin-right: 9rem;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    animation: floatImage 4s ease-in-out infinite;
    flex: 1;

}


.text-1, .text-2, .text-3 {
    margin-bottom: 1rem; /* Espaciado debajo de cada título */
}
.text-1 {
    font-size: 35px;
}

.text-2 {
    font-size: 80px;
        font-weight: 600;
}

.text-3 {
    font-size: 50px;
   
}

.text-3 span {
    background: linear-gradient(-45deg, var(--color-light-blue), var(--color-light-purple), var(--color-light-blue), var(--color-light-purple));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.icons .icon {
    color: aliceblue;
    font-size: 1.5rem;
    margin: 1rem 1rem 0 0;
    transition: 0.5s ease;
    padding: 6px;
    display: inline-flex;
    background: transparent;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    align-items: center;
    border-radius: 50%;
    border: .2rem solid rgb(255, 255, 255);
}
.icons .icon:hover {
    background:rgb(240, 240, 240);
    box-shadow: 0 0 1rem var;
    color: rgb(35, 35, 136);
}
.button {
    margin-top: 20px;
    padding: 1rem 2.8rem;
    background-color: red;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 4rem;
    transition: background-color 0.3s ease;
    display:inline-block;
    margin-bottom: 1rem}

.button:hover {
    background:rgb(240, 240, 240);
    box-shadow: 0 0 1rem var;
    color: rgb(35, 35, 136);}


@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }}

.flecha {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        color: #000000;
        animation: bounce 1.5s infinite; /* Animación de la flecha */
        text-decoration: none;
    }
    .flecha:hover {
        color: #6fb4f0; /* Cambio de color al pasar el mouse */
    }
    
@media (max-width: 768px) {
        .navbar .menu {
            display: none; /* Ocultar el menú en pantallas pequeñas */
        }
    
        .navbar .hamburger {
            display: block; /* Mostrar el icono de hamburguesa */
        }
    
          .home {
            flex-direction: column;
            text-align: center;
            padding: 2rem 2%;
        }
        .text-1 {
            margin-top: 5rem; /* Espaciado debajo de cada título */
        }
        .text-1 {
            margin-top: 5rem; /* Espaciado debajo de cada título */
        }
        .text-2{
            font-size: 55px;
        }
        .text-3{
            font-size: 35px;
        }
        .imagen-content .img{
            width:300px;
            height:300px;
            margin-right: 0;
            margin-top: 1.1rem;;
            justify-content: center;
            align-items: center;
        }
    }
    
    /* Media query para móviles */
@media (max-width: 560px) {
        .navbar .logo a {
            font-size: 25px;
        }
   
        .text-1 {
            margin-top: 5rem; 
        }
        .text-2{
            font-size: 45px;
        }
        .text-3{
            font-size: 30px;
        }
        .imagen-content .img{
            width:220px;
            height:220px;
            justify-content: center;
            align-items: center;
        }
        .button{
            font-size: 1rem;
        }
        .flecha {
           display: none;
        }
    }



    
/* 
!!!!!!!  CLAVE PARA HACER SECCIONES QUE OCUPEN TODA LA PANTALLA, Y UNA VEZ QUE BAJO SE CAMBIA A LA OTRA SECCION.  SOBRETODO AGREGAR EL HEIGHT !!!!!!   */
.sobre-mi {
    font-family: 'Geist';
    padding: 40px;
    display: flex; 
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    text-align: center; 
    min-height: 100vh;
    justify-content: flex-start;
    width: 100%;
}
      
.contenedor-info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 2rem;
    }

.h2-sobre-mi{
    font-size: 55px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 5rem;
    text-align: center;
    letter-spacing: 0.2rem;
    background: linear-gradient(-45deg, var(--color-light-blue), var(--color-light-purple), var(--color-light-blue), var(--color-light-purple));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.p-sobre-mi{
    font-size: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: 300;
    line-height: 1.8;
    text-align: right;
    padding-right: 90px;
    }

.info{
    width: 700px;
    min-height: 100px;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex: 1;
   

}
.skills {
    color: crimson;
    font-size: 2.5rem;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: right;
    gap:35px;
    flex-direction: column;
    width: 40%;
    height: 100%;
    flex: 0 1 auto;

}
.skill-row {
    display: flex;
    justify-content: center;
    gap: 30px; /* Espaciado entre los iconos */
}

.skill-row i {
    font-size: 2.5rem; /* Tamaño de los íconos */
    color: rgba(253, 52, 2, 0.805);
    transition: 0.3s ease-in-out;
}
.skill-row i:hover {
    transform: scale(1.1); /* Efecto de aumento al pasar el ratón */
}
.contactame{

    margin:5rem 0 1.5rem 0;
    font-weight: 500;
    justify-content: center;
}
.mail{
    font-size: 3rem;
}


/* Media query para móviles */
@media (max-width: 480px) {
    .skills{
        font-size: 0.3rem;
        justify-content: center;
        align-items: center;
    }
    .contenedor-info{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    .info{
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-left: 1rem;
     
    }
    .sobre-mi {
        height: auto;
    }
    .p-sobre-mi {
      font-size: 2.5rem;
     
    }
    .contactame{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
       
    }
    .mail{
        font-size: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 1rem;
    
    }
    .h2-sobre-mi{
        font-size: 40px;
            }
    .contacto{
        align-items: center;
         justify-content:center;
         display: flex;
         flex-direction: column;
         height: auto;
         text-align: center;
    
}
.contenedor-row{
    display: flex;
    justify-content: center;
      align-items: center;
    flex-wrap: wrap
 }
}

@media (max-width: 766px) {
    .sobre-mi {
         height: auto;
             }
    .info{
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 3rem;
      }
    .p-sobre-mi {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 15px;
    }
    .skills{
        font-size: 2rem;
          }
    .skill-row{
        align-items: center;
        justify-content:center;
         display: flex;
        gap: 10px;
    }
      .contactame{
    font-size: 1rem;
  
    }
    .mail{
        font-size: 2.5rem;
    }
}
@media (max-width:900px)  { 
    .sobre-mi {
        height: auto;
            }
    .contenedor-info {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .info{
        height: 100%;
        width: 100%;
      }
    .skills {
        width: 100%;
        justify-content: center;
        margin-bottom: 2rem;
    
    }
    .p-sobre-mi {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .contactame {
        font-size: 1.2rem;
        margin: 2rem 0 1rem 0;
    }
    .mail {
        font-size: 2rem;
    }
}


@media (max-width:1134){
    .sobre-mi {
         height: auto;
         width: 100%;
         padding: 40px 10px; /* Reducimos el padding para que no cause desbordamiento */
         overflow-x: hidden;
             }
        .p-sobre-mi{
            display: flex;
            align-items: center;
            width: 100%;
        }
        .contenedor-info{
            flex-direction: column; /* Los elementos se apilarán verticalmente */
            width: 100%;
            height: auto;
            overflow-x: hidden;
        }
        .info{
            width: auto;
            height: auto;
            padding:20px;
            margin-right: 3rem;
          }
    }
  

    /* PROYECTOS*/
.proyectos {
    font-family: 'Geist';
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    text-align: center; 
     min-width: 100px;
    height: 100%;  
    padding: 90px;

}
.titulo-proyecto{
    font-family: 'Ubuntu', sans-serif;
    font-size: 55px;
    text-align: center;
    letter-spacing: 0.2rem;
     background: linear-gradient(-45deg, var(--color-light-blue), var(--color-light-purple), var(--color-light-blue), var(--color-light-purple));
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-size: 400% 400%;
     animation: gradient 3s ease infinite;
    
    
 }
 
 @keyframes gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }

 .img-proyectos{
    justify-content: center;
    display: flex;
    padding: 40px;
     flex-wrap: wrap;
    
  

     } 


.div-proyectos {
   flex: 0 0 auto;
   width: 300px;
   flex-direction: column;
   overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-left: 2rem; 
    
}


.div-proyectos img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 16px;
    transition: all 0.3s ease;
   margin-bottom: 1rem;
    
}
.imagen-p1, .imagen-p2, .imagen-p3{
    object-position: left;
}

.div-proyectos .descripcion {
    text-align: center; /* Alineación del texto a la izquierda */
    color: #fff;
    font-size: 1rem;
    flex: 1; /* Ocupa todo el espacio restante */
}

.div-proyectos:hover {
    transform: scale(1.05); /* Pequeño efecto al pasar el mouse */
}
.div-proyectos:hover img{
    transform: scale(1.0.5);
    cursor: pointer;
}


.h2-proyectos{
    font-size: 1.5rem;
    color: #000000;
    font-weight: 400;
}
.p-proyectos{
    color: #6fb4f0;
    font-size: 1rem;
    padding: 6px;
    letter-spacing: 0.1rem;
    justify-content: center;
    text-align: center;
}

.p-tecnologias{
    color: rgb(205, 202, 202);
    font-size: 0.8rem;
  justify-content: center;
  text-align: center;
}


@media (max-width:1134px){
  
.proyectos{
    justify-content:center;
    padding: 40px;
    text-align: center;
  
}

.div-proyectos {
    flex: 0 0 auto;
    width: auto; 
    height: auto; /* de ancho */
    gap: 20px;

}
.img-proyectos{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 1rem; /* Espaciado entre los proyectos */
    flex-wrap: wrap;
    scroll-behavior: unset;

}

  

.div-proyectos img {
    height: 300px; /* Ajusta la altura de las imágenes para dispositivos móviles */
    object-fit: cover;
}

.descripcion {
    padding: 1rem; /* Asegura que haya algo de espacio dentro del contenedor de descripción */
}

.h2-proyectos {
    font-size: 1.2rem; /* Reduce el tamaño del título de cada proyecto */
}

.p-proyectos, .p-tecnologias {
    font-size: 0.9rem; /* Ajusta el tamaño del texto en móviles */
}
}
@media(max-width:725px){
   
    .proyectos{
        align-items: center;
        justify-content:center;
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    .img-proyectos{
        display: flex;
        flex-direction: column;
        gap: 2rem; 
        width: 100%;
        justify-items: center;
        align-items: center;
             } 
   
    .contacto{
            align-items: center;
             justify-content:center;
             text-align: center;
            }
    .contenedor-row{
        display: flex;
        flex-wrap: wrap;
        width: auto;
     }
    
}
@media(max-width:670px){
    .proyectos{
        align-items: center;
        justify-content:center;
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    .img-proyectos{
        display: flex;
        flex-direction: column;
          width: 90%;
        justify-items: center;
        align-items: center;
        text-align: center;
        
     } 
     .div-proyectos {
  
        display: flex;
       margin-right: 1.5rem;
       padding: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
     }
     .descripcion{
        margin-top: -1rem;
     }
   
     .contacto{
        align-items: center;
         justify-content:center;
         display: flex;
         flex-direction: column;
         height: auto;
         text-align: center;
    
}
.contenedor-row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap
   }
   .titulo-proyecto{
    font-size: 40px;
   }

}



/* CONTACT */
.contacto{
    font-family: 'Geist';
    display: flex;
    flex-direction: column; 
    height: 90%;
    padding: 40px;
    width: 100%;
    text-align:center;
    align-items: center;
    justify-content: center;
}

.titulo-contacto{
    font-family: 'Ubuntu', sans-serif;
    font-size: 55px;
     text-align: center;
    letter-spacing: 0.2rem;
     background: linear-gradient(-45deg, var(--color-light-blue), var(--color-light-purple), var(--color-light-blue), var(--color-light-purple));
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-size: 400% 400%;
     animation: gradient 3s ease infinite;
    
 }
.getin{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    text-align: left;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-bottom: 5rem;
}
.getin span{
    color: red;
}
.contenedor-row{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    gap: 5rem;
    height: auto;
    padding-bottom: 70px;
 }

.icono {
    font-size: 1.5rem;
    transition: 0.5s ease;
    padding: 6px;
    display: inline-flex;
    background: transparent;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    align-items: center;
    border-radius: 50%;
   
}

.icono1{
    color: rgb(29, 45, 222);
    border: .2rem solid rgb(29, 45, 222);

}
.icono2{
    color: rgb(26, 162, 18);
    border: .2rem solid rgb(26, 162, 18);
}
.icono3{
    color: crimson;
    border: .2rem solid crimson;
}
.h3-contacto{
    margin: 0.5rem 0 0.5rem 0
}

.correo{
    color:#6fb4f0;
    letter-spacing: 0.1rem;
}
.h3-contacto{
    font-size: 20px;
    font-weight: 300;
}


@media(max-width: 480px){
    .contacto{
height: auto;

    }
    .titulo-contacto{
       font-size: 40px;
     
    }
    .getin{
        font-size: 20px;
    }
    .contenedor-row{
        margin-top: 2rem;
}}



